.tejocote__seccion-fruta {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.te__imagen-fruta {
  width: 95%;
  height: auto;
  object-fit: contain;
  max-width: 95%;
  max-width: 95%;
}
